@import '@/uni_modules/uni-scss/variables.scss';
/** 定义一下wx主题通用颜色 */
/** 行为颜色 */
$color-primary: #ADB838;
$color-success: #4cd964;
$color-warning: #FAB714;
$color-error: #D12E32;

/**文字基本颜色*/
$text-color-base: #5A5B5C; // 基本色
$text-color-assist: #919293; // 辅助色
$text-color-black: #3B3C3E; // 黑
$text-color-grey: #878889; // 灰
$text-color-white: #ffffff; // 白

/**背景色*/
$bg-color: #F1F8FA;
$bg-color-grey: #F5F5F5;
$bg-color-primary: #E8EACF;

/** 边框色 */
$border-color: #e2e2e2

